<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value="C:\Users\jjchiw\Documents\NugetRepo" />
  </packageSources>
  <disabledPackageSources>
    <add key="Grial Nuget" value="true" />
    <add key="LocalNuget" value="true" />
  </disabledPackageSources>
</configuration>
