<log4net>

    <appender name="GelfHttpAppender" type="Gelf4Net.Appender.GelfHttpAppender, Gelf4Net.HttpAppender">
        <url value="http://192.168.44.10:12201/gelf" />
        <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net.Core">
            <param name="AdditionalFields" value="app:DotnetcoreHttpAppender,version:1.0,Environment:Dev,Level:%level" />
            <param name="Facility" value="RandomPhrases" />
            <param name="IncludeLocationInformation" value="true" />
        </layout>
    </appender>

    <root>
        <level value="ALL" />
        <appender-ref ref="GelfHttpAppender" />
    </root>
</log4net>