<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  
  <log4net>

    <appender name="GelfUdpAppender" type="gelf4net.Appender.AsyncGelfUdpAppender, Gelf4net">
      <remoteAddress value="192.168.33.10"/>
      <remotePort value="12201"/>
      <layout type="gelf4net.Layout.GelfLayout, Gelf4net">
        <param name="AdditionalFields" value="app:RandomSentence,version:1.0,Environment:Dev,Level:%level"/>
        <param name="Facility" value="RandomPhrases"/>
        <param name="IncludeLocationInformation" value="true"/>
        <!-- Sets the full_message and short_message to the specified pattern-->
        <param name="ConversionPattern" value="[%t] %c{1} - %m"/>
      </layout>
    </appender>

      <appender name="GelfHttpAppender" type="Gelf4net.Appender.GelfHttpAppender, Gelf4net">
          <url value="http://192.168.33.10:12201/gelf"/>
          <layout type="Gelf4net.Layout.GelfLayout, Gelf4net">
              <param name="AdditionalFields" value="app:RandomSentence,version:1.0,Environment:Dev,Level:%level"/>
              <param name="Facility" value="RandomPhrases"/>
              <param name="IncludeLocationInformation" value="true"/>
              <!-- Sets the full_message and short_message to the specified pattern-->
              <param name="ConversionPattern" value="[%t] %c{1} - %m"/>
          </layout>
      </appender>
    
    <root>
      <level value="ALL"/>
      <appender-ref ref="GelfHttpAppender"/>
    </root>

  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <!--<runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.10.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>
