<log4net>

    <appender name="GelfAmqpAppender" type="Gelf4Net.Appender.GelfAmqpAppender, Gelf4Net.AmqpAppender">
        <remoteAddress value="192.168.44.10" />
        <remotePort value="5672" />
        <username value="guest" />
        <password value="guest" />
        <virtualHost value="/" />
        <exchange value="log-messages" />
        <key value="#" />
        <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net.Core">
            <param name="AdditionalFields" value="app:DotnetcoreGelfAmqpAppender,version:1.0,Level:%level" />
            <param name="Facility" value="RandomPhrases" />
            <param name="IncludeLocationInformation" value="true" />
        </layout>
    </appender>

    <appender name="AsyncGelfAmqpAppender" type="Gelf4Net.Appender.AsyncGelfAmqpAppender, Gelf4Net.AmqpAppender">
        <remoteAddress value="192.168.44.10" />
        <remotePort value="5672" />
        <username value="guest" />
        <password value="guest" />
        <virtualHost value="/" />
        <exchange value="log-messages" />
        <key value="#" />
        <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net.Core">
            <param name="AdditionalFields" value="app:DotnetcoreAsyncGelfAmqpAppender,version:1.0,Level:%level" />
            <param name="Facility" value="RandomPhrases" />
            <param name="IncludeLocationInformation" value="true" />
            <param name="ConversionPattern" value="[%t] %c{1} - %m" />
        </layout>
    </appender>

    <root>
        <level value="ALL" />
        <appender-ref ref="GelfAmqpAppender" />
        <appender-ref ref="AsyncGelfAmqpAppender" />
    </root>
</log4net>