<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="GelfUdpAppender"/>
      <appender-ref ref="GelfAmqpAppender"/>
    </root>

    <appender name="GelfUdpAppender" type="Esilog.Gelf4net.Appender.GelfUdpAppender, Esilog.Gelf4net">
      <remoteAddress value="127.0.0.1" />
      <remotePort value="12201" />
      <layout type="Esilog.Gelf4net.Layout.GelfLayout, Esilog.Gelf4net">
        <param name="AdditionalFields" value="app:RandomSentence,version:1.0" />
        <param name="Facility" value="RandomPhrases" />
        <param name="IncludeLocationInformation" value="true"/>
      </layout>
    </appender>

    <appender name="GelfAmqpAppender" type="Esilog.Gelf4net.Appender.GelfAmqpAppender, Esilog.Gelf4net">
      <remoteAddress value="127.0.0.1" />
      <remotePort value="5672" />
      <username value="guest" />
      <password value="guest" />
      <virtualHost value="/" />
      <remoteQueue value="queue1" />
      <layout type="Esilog.Gelf4net.Layout.GelfLayout, Esilog.Gelf4net">
        <param name="AdditionalFields" value="app:RandomSentence,version:1.0" />
        <param name="Facility" value="RandomPhrases" />
        <param name="IncludeLocationInformation" value="true"/>
      </layout>
    </appender>

  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
